.booking-container {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 20px;
}

.title {
    text-align: center;
}

.form-container {
    margin-top: 50px;
}

.MuiGrid-grid-xs-12 {
    background-color: #e8f5e9;
}