.main-calendar {
    margin-right: 100px;
    font-size: 150%;
}

.calender-container {
    display: flex;
    justify-content: center;
    align-items: center;
}



/* .calender-delete {
    border-radius: 20px;

} */

.css-hlj6pa-MuiDialogActions-root {
    display: none !important;
}

.css-1eurbeq-MuiPickersToolbar-root-MuiDatePickerToolbar-root {
    display: none !important;


}

.css-1tkx1wf-MuiSvgIcon-root-MuiPickersCalendarHeader-switchViewIcon {
    display: none !important;
}

.css-cyfsxc-MuiPickersCalendarHeader-labelContainer {
    background: #1b1d27 !important;
    text-align: center !important;
    color: #fff !important;
}

.css-nk89i7-MuiPickersCalendarHeader-root {
    background: #1b1d27 !important;
}

.css-i5q14k-MuiDayCalendar-header {
    background: #9f7150 !important
}